@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
.container1{
    width: 100%;
    padding-left: 5%;
    padding-right: 5px;
    background: #ECE0D6;
}
nav{
    width: 100%;
    border: none;
    box-shadow: none;
    
}
.nav-wrapper{
    background: #ECE0D6;  
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    box-shadow: none;
}
.nav-wrapper a{
    color: black;
}
hr{
    color: black;
}
.main_image{
    padding: 70px 0px;
}
.main_image p{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 160% */


color: #403D3C;
}
.send{
    width: 22px;
    height: 22px;
    background: #FF825B;
    border-radius: 50%;
}
.first-page_footer{
   width: 100%;
    background: #1F2132;
   padding-left: 5%;
   padding-right: 5%;
   margin-top: -20px;

}
.text{
    padding: 50px 0px;
}
.space{
    width: 153px;
    height: 49px;
    background: #ECE0D6;

}
.container2{
    width: 100%;
    padding: 5%;
}
.content{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */


color: #6B6867;

}

.container3{
    width: 100%;
    padding: 5%;
    background: #FAFAFA;

}
ul{
    display: flex;
}
ul li{
    margin-left: 30px;
}
.container4{
    width: 100%;
    padding: 5%;
    background: #1F2132;

}
.user{
    width: 320px;
    height: 320px;
    border-radius: 50%;
   background-color: grey;
}
.content_2{
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
/* or 150% */

letter-spacing: 0.177778px;

color: #1B1D21;

}
.footer{
    width: 100%;
    padding: 3%;
    background: #007E5B;

}
.email{
    width: 510px;
    background-color: white;
    padding: 15px 30px;
}
.subscribe{
   padding: 15px 30px;
   border: none;
    background: #F9BF62;
border-radius: 4px;
}
.email ul li a{
    cursor: pointer;
}
.last_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.last_ul li{
    color: white;
}


@media screen and (max-width:450px) {
    .container1{
        padding-left: 3%;
        padding-right: 3%;
    }
    .container2, .container3, .container4, .first-page_footer{
        padding: 3%;
    }
    .user{
        width: 200px;
        height: 200px;
    }
    .email{
        width: 310px;
        padding: 5px 10px;
    }
    .content_2{
        font-size: 20px;
    }
    .last_ul{
        display: block;
    }
    .big-ben{
        margin-top: 10px;
    }
    .main_image{
        padding: 5px 0px;
    }
    
   
     
}


@media screen and (max-width:800px) {
    .container1{
        padding-left: 3%;
        padding-right: 3%;
    }
    .container2, .container3, .container4, .first-page_footer{
        padding: 3%;
    }
    .user{
        width: 200px;
        height: 200px;
    }
    .content_2{
        font-size: 20px;
    }
    .last_ul{
        display: block;
    }
  
    .card-content p{
        font-size: 24px;
    }
    .content{
        
        font-size: 24px;
    }
    .last_ul li{
        font-size: 20px;
    }
    .brand-logo{
        font-size: 32px;
    }
    .main_image{
        padding: 10px 0px;
    }
   
     
}
